/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/ui/modules/blog/BlogList/Filtering.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
@supports (anchor-name: --a) {
	.Filtering_list__9m8h5 {
		gap: 0;
	}

		.Filtering_list__9m8h5::before {
			content: '';
			position: absolute;
			left: anchor(--filter left);
			top: anchor(--filter top);
			width: anchor-size(--filter width);
			height: anchor-size(--filter height);
			border-radius: 0.25rem;
			background-color: rgb(0 0 0 / 0.05);
			transition-property: all;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 150ms;
		}

		.Filtering_list__9m8h5:not(:hover)::before {
			opacity: 0;
		}

		.Filtering_list__9m8h5 button:is(:hover, :focus-visible) {
			anchor-name: --filter;
		}

	.Filtering_filter__Q4g7S {
		position: relative;
	}

		.Filtering_filter__Q4g7S.ghost {
			background: none !important;
			-webkit-backdrop-filter: none !important;
			        backdrop-filter: none !important;
		}
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/ui/modules/Hero.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.Hero_txt__29BzB::before {
	content: '';
	position: absolute;
	inset: -50%;
	z-index: -1;
	-webkit-mask-image: radial-gradient(ellipse at center, black 25%, transparent 50%);
	        mask-image: radial-gradient(ellipse at center, black 25%, transparent 50%);
	--tw-backdrop-brightness: brightness(.75);
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
	        backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/ui/modules/LogoList.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.LogoList_track__EyfVF {
	--dur: 8s;
}

	.LogoList_track__EyfVF > * {
		--ox: calc((var(--count) - var(--index)) * 100%);
		--dx: calc((var(--index) + 1) * -100%);

		translate: var(--ox) 0;
		animation: LogoList_scroll__vhdPr var(--dur) linear infinite;
		animation-delay: calc(
			var(--dur) / var(--count) * var(--index) - var(--count) * 2s
		);
	}

@keyframes LogoList_scroll__vhdPr {
	to {
		translate: var(--dx) 0;
	}
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/ui/modules/RichtextModule/Code.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.Code_code__w6Q7U {
	counter-reset: step;
	counter-increment: step 0;
}

	.Code_code__w6Q7U .line::before {
		content: counter(step);
		counter-increment: step;
		width: 2ch;
		margin-right: 2ch;
		display: inline-block;
		text-align: right;
		font-variant: tabular-nums;
		opacity: 0.2;
	}

.Code_code__w6Q7U .highlight {
	position: relative;
}

.Code_code__w6Q7U .highlight > * {
	position: relative;
	z-index: 1;
}

.Code_code__w6Q7U .highlight:not(:empty)::after {
		content: '';
		position: absolute;
		z-index: 0;
		inset-block: -2px;
		inset-inline: -1.6ch -0.5ch;
		border-top-right-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;
		border-left-width: 4px;
		--tw-border-opacity: 1;
		border-color: rgb(74 222 128 / var(--tw-border-opacity));
		background-color: rgb(74 222 128 / 0.2);
	}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/ui/modules/RichtextModule/TableOfContents.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
@media (min-width: 1024px) {
	.TableOfContents_inView__5jH6W:not(.TableOfContents_inView__5jH6W ~ .TableOfContents_inView__5jH6W) {
		border-left-width: 4px;
		--tw-border-opacity: 1;
		border-color: rgb(0 0 0 / var(--tw-border-opacity))
	}
}

